body {
    background-color:rgb(184, 213, 250);
    background-size: cover;
}

a {
    text-decoration: none;
    color: hsl(340, 72%, 59%);
}

a:hover{
    text-decororation:underline;
    color:cadetblue;
}

.menu {
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: rgba(230, 187, 217, 0.8); 
    padding: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.menu li {
        margin: 0 15px; 
        list-style: none; 
}
.menu a:hover {
    text-decoration: underline;
    color: rgb(69, 139, 160); 
}


